name: wp-visualization-blocks

on: 
  push:
    tags:
    - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
          contents: write
    strategy:
      matrix:
        node-version: [14.x, 16.x, 18.x]

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}

    - name: Build
      run: |
        npm install
        npm run build

    - name: PHP Composer
      uses: baschny/php-composer-action@v1
      with:
        # What version of Composer to use
        composer_version: latest
        command: install
        args: --no-dev
        
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "*.php,vendor,build"
